body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u95 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:64px;
  width:221px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:560px;
  top:188px;
  width:484px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
