body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u216 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:185px;
  top:606px;
  width:730px;
  height:182px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u218 {
  position:absolute;
  left:185px;
  top:798px;
  width:730px;
  height:182px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u219 {
  position:absolute;
  left:185px;
  top:990px;
  width:730px;
  height:182px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
